/* {background-size: contain} is useful because it ensures the entire pic is visable. However, does not fill out the container like cover does */
/* stack multiple backgrounds using commas */
#product-overview {
	background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("./images/freedom.jpg") left 10% bottom 70%/cover no-repeat border-box, #ff1b68 ;
	/* background-position: left 10% bottom 20%;
	background-size: cover;
	background-repeat: no-repeat; 
	background-origin: border-box;
	background-clip: border-box; */
	/* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0, 0, 0, 0.5)); */
	/* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
	width: 100vw;
	height: 33vh;
	margin-top: 2.75rem;
	position: relative;
}

/* combinator: descendant selector, not inheritance */
#product-overview h1 {
	color: white;
	font-family: "Anton", sans-serif;
	position: absolute;
	bottom: 5%;
	left: 3%;
}

.section-title {
	color: #17252a;
	text-align: center;
}

/* margin auto centres horizontally */
.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
	background: #3aafa9;
	text-align: center;
	padding: 1rem;
	margin: 0.5rem;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

/* rgba - the a sets its opacity/transparency */
.plan--highlighted {
	background: #008080;
	color: white;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* border radius curves the edges */
.plan__annotation {
	background: white;
	color: #008080;
	padding: 0.5rem;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

.plan__title {
	color: #17252a;
}

.plan__price {
	color: white;
}

.plan--highlighted .plan__title {
	color: white;
}

/* {list-style: none} - removes bullet points */
.plan__features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.plan__features li {
	margin: 0.5rem 0;
}



#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* vertical align aligns the top parts of the elements */
.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

/* border radius of 50% for a perfect circle */
/* margin auto centres the element horizontally */
.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
	margin: auto;
	padding: 1.5rem;
}


.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

