/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* this way is just as valid as using a link tag in the html file */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* can define variables. Note: no Internet Explorer support */
:root {
	--red: #ff1b68;
}


/* setting element width/height will include content, padding + border, but not margin*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* also needed for grid auto */
html {
	height: 100%;
}

/* elements not part of document flow (e.g fixed and absolute) are not part of the grid */
body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 3.5rem auto fit-content(8rem);
	grid-template-rows: 3.5rem auto fit-content(8rem);
	    grid-template-areas:
		"header"
		"main"
		"footer";
	height: 100%;
}

main {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: main;
}

.backdrop {
	position: fixed;
	display: none;
	opacity: 0;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

/* flex container. justify content main axis. align-items cross axis */
/* see shared.prod.css -- you can set vendor prefixes (see display) if feature is still in experimental stage in diff browsers */
.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #3aafa9;
	padding: 0.5rem 1rem;
	z-index: 60;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

/* hamburger button for mobile navbar */
.toggle-button {
	width: 3rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
}

.toggle-button:focus {
	outline: none;
}

.toggle-button__bar {
	width: 100%;
	height: 0.2rem;
	background: black;
	display: block;
	margin: 0.6rem 0;
}

/* {text-decoration: none} removes underline (and other default settings) */
.brand {
	color: #17252a;
	text-decoration: none;
	font-weight: bold;
}

.brand img {
	height: 2.5rem;
	vertical-align: middle;
}

/* do not want the main nav to show in mobile view */
.main-nav {
	display: none;
}

/* a flex container within another flex c within another flex c is allowed. this < .main-nav (line 197) < .main-header (34) */
.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-nav__item {
	margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
	text-decoration: none;
	color: #17252a;
	font-weight: bold;
	padding: 0.2rem 0;
}

/* pseudo class - control state of an element */
.main-nav__item a:hover,
.main-nav__item a:active {
	color: white;
	border-bottom: 5px solid white;
}

/* pseudo element - control parts of an element */
/* p::first-letter {
    color: red;
} */

/* animation: NAME DURATION DELAY TIMING-FUNCTION ITERATION DIRECTION FILL-MODE PLAY-STATE;*/
.main-nav__item--cta {
	-webkit-animation: wiggle 400ms 3s 8 none;
	        animation: wiggle 400ms 3s 8 none;
}

/* bem naming convention. cta - call to action */
.main-nav__item--cta a,
.mobile-nav__item--cta a {
	color: white;
	background: var(--red);
	padding: 0.5rem 1rem;
	border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
	color: var(--red);
	background: white;
	border: none;
}

/* navbar for mobile site. Responsive design */
.mobile-nav {
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background: white;
	width: 80%;
	height: 100vh;
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: -webkit-transform 300ms ease-out;
	-o-transition: transform 300ms ease-out;
	transition: transform 300ms ease-out;
	transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.mobile-nav__items {
	width: 90%;
	height: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.mobile-nav__item {
	margin: 1rem 0;
}

.mobile-nav__item a {
	font-size: 1.5rem;
}

/* inherit overrides the browser default in this case  */
.button {
	background: #17a2b8;
	color: white;
	font: inherit;
	border: 1.5px solid #17a2b8;
	padding: 0.5rem;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
}

.button:hover,
.button:active {
	background: white;
	color: #17a2b8;
}

.button:focus {
	outline: none;
}

@media (min-width: 40rem) {
	.toggle-button {
		display: none;
	}
	/* flexbox is a much better solution */
	.main-nav {
		/* display: inline-block;
		text-align: right;
		width: 85%;
		vertical-align: middle; */
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.main-footer {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	background-color: black;
	padding: 2rem;
	margin-top: 3rem;
	grid-area: footer;
}

.main-footer__links {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.main-footer__link {
	margin: 0.5rem 0;
}

.main-footer__link a {
	color: white;
	text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
	color: #ccc;
}

/* a better way of opening and closing - see shared.js */
.open {
	display: block !important;
	opacity: 1 !important;
	-webkit-transform: translateY(0) !important;
	    -ms-transform: translateY(0) !important;
	        transform: translateY(0) !important;
}

@media (min-width: 40rem) {
	.main-footer__link {
		margin: 0 1rem;
	}
	.main-footer__links {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

/* animation keyframes */
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotateZ(0);
		        transform: rotateZ(0);
	}
	50% {
		-webkit-transform: rotateZ(-10deg);
		        transform: rotateZ(-10deg);
	}
	100% {
		-webkit-transform: rotateZ(10deg);
		        transform: rotateZ(10deg);
	}
}
@keyframes wiggle {
	0% {
		-webkit-transform: rotateZ(0);
		        transform: rotateZ(0);
	}
	50% {
		-webkit-transform: rotateZ(-10deg);
		        transform: rotateZ(-10deg);
	}
	100% {
		-webkit-transform: rotateZ(10deg);
		        transform: rotateZ(10deg);
	}
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}